* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.calamari-heading {
    text-align: center;
    background-color: indianred;
}
.calamari-ingredients {
    width: 50%;
    font-size: 18px;
    background-color: darksalmon;
}
.calamari-ingredients h3 {
    text-align: center;   
}
.calamari-steps {
    width: 50%;
    background-color:blanchedalmond;
    font-size: 18px;
}
.calamari-steps h3 {
    text-align: center;
}

.lasagna-heading {
    text-align: center;
    background-color: coral;
}
.lasagna-ingredients {
    width: 50%;
    background-color:burlywood;
    font-size: 18px;
}
.lasagna-ingredients h3 {
    text-align: center;
}
.lasagna-steps {
    width: 50%;
    background-color:blanchedalmond;
    font-size: 18px;
}
.lasagna-steps h3 {
    text-align: center;
}

.salmon-heading {
    text-align: center;
    background-color: lightseagreen;
    }
    .sub-title {
        text-align: center;
        font-size: 20px; 
    }
    .salmon-ingredients  {
        width: 50%;
        background-color: aqua;
        font-size: 18px;
    }
    .salmon-ingredients h3 {
        text-align: center;
    }
    .salmon-steps {
        width: 50%;
        background-color: aquamarine;
        font-size: 18px;
    }
    .salmon-steps h3 {
        text-align: center;
    }